$primary: #72F48A;
$secondary: #4473C5;
$success: #72F48A;
//$success: #417B5A;
$info: #143B76;
$warning: #faae21;
$danger: #FE5953;
//$danger: #FF1654;
$light: #E7E6E6;
$dark: #0C254E;

$green: #72F48A;
$blue: #4473C5;
$red: #FE5953;
$yellow: #faae21;
