# IDE
.idea
*.sql
prompts/

# Server / Application
**/*.bk
web/wp/*
web/app/plugins/*
web/app/mu-plugins/*
web/app/themes/*
web/app/uploads/*
web/app/upgrade/*
web/app/languages/*
web/app/cache/*

# Composer
vendor/
!web/app/themes/omakeikka-theme
!web/app/plugins/elementor-pro
!web/app/mu-plugins/load.php
!web/app/mu-plugins/post-shortcodes.php

# WordPress
wp/
.env
